div[class="output"] {
	all: unset;
	display: block;
	padding: 1ch 0;
	white-space: nowrap;
}
a[class="viewer"] {
	color: #DDD;
}
form {
	all: unset;
	
	label {
		all: unset;
		
		input[type="text"] {
			all: unset;
		}
	}
}
