RewriteEngine On
RewriteRule ^$ index.php [L,QSA]
RewriteRule ^index.php$ index.php [L,QSA]
RewriteRule ^favicon.ico$ favicon.ico [L,QSA]
RewriteRule ^google16420c1cfa481819.html$ google16420c1cfa481819.html [L,QSA]

RewriteRule ^controller\/$ controller/index.php [L,QSA]
RewriteRule ^controller\/(.+)$ controller/$1 [L,QSA]

RewriteRule ^admin\/$ admin/index.php [L,QSA]
RewriteRule ^admin\/(.+)$ admin/$1 [L,QSA]

RewriteRule ^share\/(.+)$ share/$1 [L,QSA]
RewriteRule ^statistics\/(.+)$ statistics/$1 [L,QSA]

RewriteRule ^([0-9]+)$ index.php?page=$1 [L,QSA]
RewriteRule ^([^\/]+)/([0-9]+)$ index.php?tournament=$1&page=$2 [L,QSA]
RewriteRule ^([^\/]+)$ index.php?tournament=$1 [L,QSA]
RewriteRule ^([^\/]+)\/([^\/]+)$ index.php?tournament=$1&event=$2 [L,QSA]

