	/* global {{{*/
*	
	{
	font-family: 'terminus';
	font-size: 20px;
	font-weight: normal;
	background-color: #000000;
	color: #AAA;
	caret-color: #FFF;
	}
::selection
	{
	background-color: #1a5fb4;
	color: #FFF;
	}
@font-face
	{
	font-family: "terminus";
	src : url("/font.ttf");
	}
	/*}}} global */

	/* form {{{*/
fieldset
	{
		padding: 4px;
		margin: 4px;
		border: solid 1px #444;
		max-width: calc(598px - 2px - 8px - 8px);
		width: 100%;
	}
legend 
	{
		margin: 4px;
		padding: 0px 7px;
	}
label 
	{
		display: block;
		margin: 4px;
		line-height: 20px;
		color: #666;
	}
input
	{
		padding: 0px;
		margin: 0px;
		max-width: 598px;
		width: 100%;
		border: none;
		outline: none;
		border-bottom: solid 1px #666;
	}
button
	{
		margin: 0px 0px 4px 4px;
		padding: 3px 10px;
		border: solid 1px #666;
		outline: solid 1px #000;
	}
button:focus
	{
		border: solid 1px #DDD;
		outline: solid 1px #DDD;
	}
button:active
	{
		background: #FFF;
		border: solid 1px #FFF;
		outline: solid 1px #FFF;
	}
	/*}}} form */

