[Desktop Entry]
Encoding=UTF-8
Name=Root Terminal
Exec=/usr/bin/xfce4-terminal --command=/usr/local/bin/root_terminal
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Type=Application
Categories=System;
