@font-face {
	font-family: 'terminus';
	src: url('../font/terminus.ttf');	
}

::selection {
	all: unset;
	background: #3584E4;
	color: #FFF;	
}

body {
	all: unset;
	font-family: 'terminus';
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	background-color: #000;
	color: #AAA;
	caret-color: #FFF;
	text-underline-offset: 4px;
	text-decoration-thickness: 1px;
}
	
button {
	all: unset;
	font-family: 'terminus';
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	color: #CCC;
	cursor: pointer;	
}
button:focus {
	outline: 2px solid #FFF;
}

label {
	all: unset;
	display: inline;
	color: #CCC;
	cursor: pointer;
}
input[type="text"] {
	all: unset;
	display: inline;
	padding: 0px 4px;
	background: black;
	color: #AAA;
	cursor: text;
}
table {
	all: unset;
	display: block;
}
